
html, body {
  height: 100%;
}
body {
  margin: 0;
  background: #eaeaea;
}
.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  width: auto;
}
.flex-item {
  padding: 5px;
  margin: 10px;
  text-align: center;
}
.flex-container{
  padding-top: 50px;
  padding-bottom: 50px;
}
.columns{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: row wrap;
  justify-content: space-around;
}
.hero{
  width: 30vw;
  margin: 30px 15px;
  background-color: white;
}
.descHero{
  padding:20px;
}
.descHero h3, .descHero p{
  text-align: left;
}
.picHero{
  height: 300px;
  width: 100%;
  background-position: center center;
}
.hero img{
  width: 100%;
}
.infoMsg{
  font-size: 10px;
  color:#666;
}

.form-field{
  border:none;
  border-bottom: 2px solid palevioletred;
  padding:10px 20px;
  font-size: 18px;
}

button[type="submit"]{
  background-color: palevioletred;
  border:none;
  padding: 13px 15px;
}

button[type="submit"] i{
  color: white;
  font-size: 18px;
}





@media(max-width:480px){
  .hero{
    width: 100vw;
  }
  .form-field{
    max-width: 70%;
  }
  .flex-container {
    padding-top: 20px;
    padding-bottom: 0px;
  }
}